<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).PROPERTY_PROJECT_NAME}}"></title>
</head>
<body>
  <div class="ui grid">
    <div class="right aligned column no-top-padding">
      <th:block sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_APPLICATIONS_UPDATE)">
        <button class="ui icon small basic button" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}" th:onclick="addrelease();">
          <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_NEW}"></i>
        </button>
      </th:block>
    </div>
  </div>
  <div class="ui grid">
    <div class="column">
      <div class="ui four stackable cards">
        <div class="card" th:each="release : ${releases}">
          <div class="content pointer">
            <div class="meta">
              <div class="ui tiny comments">
                <div class="comment">
                  <a class="avatar">
                    <img alt="avatar" th:src="@{${release.createdBy.avatar.image}}">
                  </a>
                  <div class="content">
                    <a class="author" th:text="${release.createdBy.name}"></a>
                    <a class="author right floated" th:text="${release}" th:onclick="'editrelease(' + ${release.id} + ');'"></a>
                    <div class="text" th:text="${#dates.format(release.created, T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_FORMAT_DATETIME)}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_WORKITEMS}"></i>
              <span th:if="${not #lists.isEmpty(release.workItems)}" th:text="${#lists.size(release.workItems)} + ' ' + #{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_WORKITEMS}}"></span>
              <span th:if="${#lists.isEmpty(release.workItems)}" th:text="0 + ' ' + #{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_WORKITEMS}}"></span>
            </a>
            <i class="icon trash right floated red pointer" th:onclick="'removerelease(' + ${release.id} + ');'"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <th:block th:replace="common/fragments/form :: backbutton(icon1 = ${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_BACK},
                                                            icon1text = ${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_BACK},
                                                            icon1url = ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_APPLICATIONS}
                                                            )" />
</body>
</html>