<!DOCTYPE html>
<html lang="en" th:replace="common/masterpage :: masterpage(~{}, ~{::page}, ~{})" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).PROPERTY_PROJECT_NAME}}"></title>
</head>
<body>
  <div class="ui main container" th:fragment="page" sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_APPLICATIONS_READ)">
    <th:block th:replace="common/fragments/elements :: title(text = #{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_APPLICATIONS}}, 
                                                             icon = ${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_APPLICATION}, 
                                                             url = null)" 
                                                             />
    <br />
    <div th:if="${not #lists.isEmpty(apps)}">
      <div class="ui two stackable cards">
        <div class="card" th:each="app : ${apps}">
          <div class="content">
            <div class="header">
              <div class="left floated">
                <a th:href="@{${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_APPLICATIONS_UPDATE} + '/' + ${app.id}}" th:text="${app.name}" sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_APPLICATIONS_UPDATE)"></a>
                <span sec:authorize="not hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_APPLICATIONS_UPDATE)" th:text="${app.name}"></span>
              </div>
              <br />
            </div>
            <div class="meta">
              <span class="category" th:text="${app.description}"></span>
              <span class="right floated time" th:text="${app.type.name}"></span>
            </div>
          </div>
          <div class="extra content">
            <div class="ui three column grid">
              <div class="column"></div>
              <div class="column">
                <th:block th:replace="common/fragments/elements :: avatar-text(item = ${app.functionalContact}, description = #{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_FUNCTIONAL}}, size = 'small')" />
              </div>
              <div class="column">
                <th:block th:replace="common/fragments/elements :: avatar-text(item = ${app.technicalContact}, description = #{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_TECHNICAL}}, size = 'small')" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <th:block th:replace="common/fragments/form :: actionbuttons(icon1 = null,
                                                                 icon1text = null,
                                                                 icon1url = null,
                                                                 icon2 = ${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_NEW},
                                                                 icon2text = ${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_NEW},
                                                                 icon2url = ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_APPLICATIONS_CREATE},
                                                                 )"
              sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_APPLICATIONS_CREATE)" />
  </div>
</body>
</html>